<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid grid-cols-3 lg:hidden font-lora">
        <div class="mt-8 ml-3 hamburger-icon" style="cursor: pointer;">
            <iconify-icon icon="ci:hamburger-lg" style="color: #7a2d2d;" width="50" height="50"></iconify-icon>
        </div>
        <div class="mt-5"><img src="../images/logo.webp" alt=""></div>
        <div class="mt-8 justify-self-end mr-5">
           <a href="../pages/winkelwagen.html"> <img src="../images/shoppingCartSmall.webp" alt="logo"></a>
        </div>
    </div>
</body>
</html>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
