<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Lora&display=swap" rel="stylesheet">  
     </head>
<body>
    <div id="navbar" class="bg-customGray m-auto text-center text-gray-500 lg:hidden font-lora" >
        <div class="hidden lg:block">
            <img src="../images/logo.webp" alt="logo broodjes van eden" >
        </div>
        <div class="font-light lg:col-span-4 lg:my-auto lg:text-base">
            <ul class="m-auto w-full lg:grid lg:grid-cols-7 lg:gap-2 ">
                <li class="py-2  hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/home.php">Home</a> </li>
                <li class="py-2 hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/bestellen.php">Bestel Nu</a> </li>
                <li class="py-2  hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/ontbijtservice.php">Ontbijtservice</a> </li>
                <li class="py-2  hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/meetingformules.php">Meetingformules</a> </li>
                <li class="py-2 hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/galerij.php">Galerij</a> </li>
                <li class="py-2 hover:bg-customRed hover:text-white rounded-2xl transition-all "><a href="../pages/contact.php">Contact</a> </li>
                <div class="hidden lg:block m-auto">
                    <img class="" src="../images/shoppingCartSmall.webp" alt="shoppingCartSmall">
                </div>
            </ul>
           
        </div>
    </div>

    <div class="hidden bg-customGray m-auto text-center text-gray-500 lg:grid lg:grid-cols-5 lg:gap-4 font-light" >
        <div class="hidden lg:block">
            <img src="../images/logo.webp" alt="logo">
        </div>
        <div class="lg:col-span-4 lg:my-auto lg:text-base">
            <ul class="m-auto w-full lg:grid lg:grid-cols-7 lg:gap-2 ">
                <li class="py-2  hover:border-b-2 border-customRed transition-all "><a href="../pages/home.php">Home</a> </li>
                <li class="py-2 hover:border-b-2 border-customRed transition-all "><a href="../pages/bestellen.php">Bestel Nu</a> </li>
                <li class="py-2  hover:border-b-2 border-customRed transition-all "><a href="../pages/ontbijtservice.php">Ontbijtservice</a> </li>
                <li class="py-2  hover:border-b-2 border-customRed transition-all "><a href="../pages/meetingformules.php">Meetingformules</a> </li>
                <li class="py-2 hover:border-b-2 border-customRed transition-all "><a href="../pages/galerij.php">Galerij</a> </li>
                <li class="py-2 hover:border-b-2 border-customRed transition-all "><a href="../pages/contact.php">Contact</a> </li>
                <div class="hidden lg:block m-auto">
                    <a href="../pages/winkelwagen.php"><img class="" src="../images/shoppingCartSmall.webp" alt="logo"></a>
                </div>
            </ul>
           
        </div>
    </div>
</body>
</html>